.box1{
    height: 400px;
    background-color: red;
}

.box2{
    height: 400px;
    background-color: blue;
}

.box3{
    height: 400px;
    background-color:black;
}
.box4{
    height: 400px;
    background-color: green;
}

